spring:
  application:
    name: gatewayserver
  config:
    import: "optional:configserver:http://localhost:8030/"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lowerCaseServiceId: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
  info:
    env:
      enabled: true

info:
  app:
    name: "gatewayserver"
    description: "UBA Clone GatewayServer Application"
    version: "1.0.0"